
<div *ngIf="!myWhales" class="loading"> 

    <h2>LOOOOOOAAAADING WHALES . . .</h2>
    <img
      src="https://cdn.dribbble.com/users/124845/screenshots/855140/whale400x300.gif"
      alt="gif loading"
    />
</div>


<div class="whales--gallery">
    <div *ngFor="let whale of myWhales" >
        <div class="whales--card">
            <h4>{{whale.name}}</h4>
            <div class="img--box">
                <img src="{{whale?.image}}" alt="{{whale?.name}}"/>
            </div>
            <button routerLink="/whales/{{whale.id}}">ver más</button>
        </div>
        
    </div> 
</div>
